header{
    background-color: var(--Terracota-900-color);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 38px 24px;
    

}
.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}
.navegation-menu{
margin-top:0px;
}
input[type="checkbox"]:checked ~ nav{
    display: block;
}
nav{
    display: none;
}