.sobre {
  padding: 44px 16px;
  background-color: var(--terracota-50-color);
}

.sobre p {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--terracota-800-color);
}

@media (min-width: 768px) {
  .sobre {
    padding: 88px 24px;
  }

  .sobre p {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .sobre {
    padding: 104px 120px;
  }

  .sobre p {
    font-size: 32px;
  }
}